**/js_test_files/**/*
gulp-tasks/**/*
pattern-lab/**/*
docroot/libraries/**/*
**/sassdoc/**/*
docroot/core/**/*
**/sites/**/files/**/*
node_modules/**/*
vendor/**/*
**/contrib/**/*
**/themes/**/dist/**/*
**/annotations.js
acquia-utils/**/*
library/**/*
hooks/**/*
components/**/*
**/emulsify/components/**/*
**/pattern-lab/**/*
